<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>32 Vue Condizioni Cicli</title>

        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <!-- <div>
            <div>
                <button>
                    Cliccami
                </button>
            </div>

            <div>
                <p>SPENTO</p>
            </div>
        </div> -->

        <div id="app">

            <!-- main -->
            <main>
                <div class="container">
                    <div>
                        <button @click="handleClick()">
                            Cliccami
                        </button>
                    </div>

                    <!-- <div class="msg" :class="msgClasses">
                        {{ message }}
                    </div> -->

                    <div v-if="on == false" class="msg off-msg">
                        <p>
                            Non si vede niente, perché l'interruttore è
                        </p>

                        <div>
                            SPENTO
                        </div>
                    </div>
                    <div v-else class="msg on-msg">
                        <div>
                            ACCESO
                        </div>

                        <p>
                            quindi ora si vede
                        </p>
                    </div>
                </div>

                <div class="container">
                    <div v-if="randomNumber(1, 10) > 5">
                        TRA 6 E 10
                    </div>
                    <div v-else>
                        TRA 1 E 5
                    </div>
                </div>

                <div class="container">
                    <div v-if="randomNumber(0, 1)">
                        SI
                    </div>
                    <div v-else>
                        NO
                    </div>
                </div>

                <div class="container">
                    <div v-show="randomNumber(0, 1)">
                        E' USCITO 1 COL v-show
                    </div>
                </div>

                <div class="container">
                    <ul>
                        <!-- <li v-for="product in groceryList">
                            <div>
                                {{ product }}
                            </div>
                        </li> -->
                        <li v-for="(product, gino) in groceryList">
                            <div>
                                {{ gino + 1 }} - {{ product }}
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <!-- /main -->

        </div>

        <!-- JS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>

    </body>
</html>